<!DOCTYPE html>
{%extends 'testapp/base.html'%}
{%block body_block%}
<div class="jumbotron">
  <h1>The projects I want to do are</h1>
  <h2>Django Project Ideas for Beginners</h2>
  <ul>
    <li>Sending Emails with Python: <a href='/Email/'>click here</a></li>
    <li>Regex Query Tool      : <a href="">click here</a></li>
    <li>Login System in Django: <a href="/signup/">click here</a></li>
    <li>Text to HTML Generator: <a href="/Text_Generator/">click here</a></li>
    <li>Python Calorie Counter: <a href="https://data-flair.training/blogs/django-project-ideas/">click here</a></li>
    <li>Django Chat App       :<a href="https://data-flair.training/blogs/django-project-ideas/">click here</a></li>
    <li>Python Password-Safe  :<a href="https://data-flair.training/blogs/django-project-ideas/">click here</a></li>

  </ul>

<p>Referance: <a href = "https://data-flair.training/blogs/django-project-ideas/"> Click Here</a></p>
</div>

{%endblock%}
